body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  
  font: inherit;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 5px;
  border: none;
}
.container {
  width: 1160px;
  margin: 0 auto;
  }

/*-----Стили header-----*/

 header {
  width: 100%;
  background-color: #eeeeee;
 }

 .main-navigation {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-top:50px;
  }

.site-navigation {
  list-style: none;
  width: 700px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0.5;
 }

.site-navigation a {
  display: inline-block;
  padding-right: 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  }

.cart {
  margin-left: auto;
  position: relative;
  padding-right: 0;
}

.cart::before {
  content: "";

  position: absolute; 
  bottom: 8px;
  left: -40px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 15px;
  height: 15px;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  display: block;
  background-color:  #fb565a;

  top: 33px;
  
  width: 74px;
  height: 2px;
}

.logo-navigation {
 flex-shrink:2;
}

.logo-navigation a:hover {
  opacity: 0,8;
}

.logo-navigation a:active {
  opacity: 0.3;
}

/*-----Стили features-----*/

.features {
 margin: 80px 0;
}

.features-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  }

.feature-item {
  width: 500px;
  text-align: left;
  margin-top: 130px;
  margin-bottom: 80px;
  margin-right: 100px;
}

.feature-item h3 {
  position: relative;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin:26px 0;
}

.feature-item h3::before {
  content: "";

  position: absolute;

  width: 300px;
  height: 146px;

  bottom: 50px;
  
  background-image: url("../img/advantage-picture-red.jpg");
  background-color: #666666;

    }

.feature-item:nth-child(2) h3::before {
  background-image: url("../img/advantage-picture-green.jpg");
  background-color: #666666;
}

.feature-item:nth-child(3) h3::before {
  background-image: url("../img/advantage-picture-yellow.jpg");
  background-color: #666666;
}

.feature-button {
  display: inline-block;
  width: 160px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  vertical-align: middle;
  background-color: #fb565a;
  }

.feature-item p {
 margin-bottom: 35px;
}

.button-site {
  background-color: #fb565a;
}

.button-site:hover {
  background-color: #e74246;
}

.button-site:active {
  background-color: #d7373b;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-app {
  background-color: #00ca74;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-present {
background-color: #efc84a;
}

.button-present:hover {
background-color: #eab534;
}

.button-present:active {
background-color: #e5a722;
box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-price {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  background-color: #fb565a;
}

.button-price:hover {
  background-color: #e74246;
}

.button-price:hover {
  background-color: #d7373b;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*-----Стили services-----*/

.services-columns {
  display: flex;
  justify-content: space-around;
  margin-bottom:76px ;
}
  
.services-columns h2 {
 font-size: 45px;
 line-height: 45px;
 text-align: left;
 font-weight: 500;
}

.services-columns p {
 font-size: 16px;
 line-height: 24px;
 text-align: left;
 font-weight: 400;
 color: #283136;
}

.services-columns ul {
 font-size: 16px;
 line-height: 24px;
 text-align: left;
 font-weight: 700;
 color:#000000;
 text-transform: uppercase;

 list-style: none;
}

.services-columns li {
 font-size: 16px;
 line-height: 24px;
 text-align: left;
 font-weight: 500;
 color: #283136;
 text-transform: none;
}

.services-list {
  width: 650px;
}

.services-facts {
  width: 360px;
  }


.services-facts ul {
 font-size: 16px;
 line-height: 24px;
 text-align: center;
 font-weight: 700;
 color:#000000;
 text-transform: uppercase;

 list-style: none;
}
 
.services-facts span {
  font-size: 45px;
  line-height: 10px;
  text-align: left;
  font-weight: 700;
  color:#000000;
}

.services-facts li {
 font-size: 16px;
 line-height: 18px;
 text-align: left;
 font-weight: 500;
 color: #283136;
 text-transform: none;
}

/*-----Стили partners-----*/

.partners ul {
 display: flex;
 justify-content: space-between;

 list-style: none;

 margin-bottom: 126px;
}


/*-----Стили footer-----*/

.main-footer {
  font: inherit;
  background-color: #ffffff;
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  padding: 60px 0;
  margin-top: 65px;
  justify-content: center;
  align-items: center;

  display: flex;
}

.footer-discount {
  width: 545px;
}

.footer-discount>p {
font-size: 16px;
font-weight: 400;
text-align: left;
}

.footer-social {
text-align: center;
}

.footer-social ul {
display: flex;
width: 260px;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;
padding: 0;
margin-right: 139px;

list-style: none;
}

.social-button {
width: 79px;
height: 79px;
background-color: #e1e1e1;
border-radius: 50%;

display: flex;
align-items: center;
justify-content: center;
}

.social-button:hover {
background-color: #e74246;
}

.social-button:active {
background-color: #d7373b;
box-shadow: rgba (0, 1, 1, 0.1);
}

.social-button:hover path {
  fill:  #ffffff;
}

.social-button:active path {
  opacity: 0.3;
}

.page-title {
  font: inherit;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 116px;
  }

.filters-container {
  width: 261px;
  }

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.filter fieldset{
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  border: none;
  }

.filter:last-child fieldset{
  margin-bottom: 30px;
}

.filter-option {
  margin-bottom: 15px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-align: left;
  }

.filter-option label {
  position: relative;
  
  display: block;
  
  cursor: pointer;
  user-select: none;
  }

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  
  width: 23px;
  height: 23px;
  opacity: 0.4;
  
  background-image: url("../img/checkbox-off.svg");
  }

.filter-input-checkbox:not(:checked):hover + label::before {
  opacity: 1;
}
.filter-input-checkbox:not(:checked):disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  
  position: absolute;
  top: 0x;
  left: -42px;
  
  width: 23px;
  height: 23px;
  opacity: 0.4;

  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
  }

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
  }

.filter-input-radio:not(:checked) + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 25px;
  height: 25px;
  opacity: 0.4;
  
  background-image: url("../img/radio-off.svg");
}

.filter-input-radio:not(:checked):hover + label::before {
  opacity: 1;
}
.filter-input-radio:not(:checked):disabled + label::before {
  opacity: 0.3;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 25px;
  height: 25px;
  opacity: 0.4;
  
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}
.filter-input-radio:disabled + label::before {
  opacity: 0.3;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-option label {
  color: #283136;
}

.filter-option label:disabled {
  opacity: 0.3;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color:#000000;
  background-color: #eeeeee;
  text-align: center;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorter {
  list-style: none;
  
  display: flex;
  justify-content: space-between;
  }

.sorter li:first-of-type {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sorter a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color:#000000;
}

.sorter:nth-child(3) li {
  color: red;
}



.catalog-columns {
  display: flex;
  justify-content: space-between;
  }

.catalog {
  width: 1000px;
  padding-left: 120px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
}

.catalog-description {
 display: none;
 }

.catalog-item:hover .catalog-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  width: 360px;
  height: 231px;

  position: absolute;
  content: "";

  width: 360px;
  bottom: 0;
 }

 .browser {
  margin-bottom: 0;
  opacity: 12%;
}

 .catalog-item:hover .browser {
   opacity: 1;
  }

.catalog-category {
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  color: #666666;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;

  position: relative;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #000000;
  }

.catalog-item-title:hover {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #ffffff;
}

.pagination-list {
 display: flex;
 flex-wrap: wrap;
  
 padding: 0;
 margin: 0;
 padding-left: 35px;

 list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}
  
.pagination-item a {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
     
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item:last-child a {
  width: 260px;
  height: 50px;
  }

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a{
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: solid 3px #dbdbdb
}

/*----Стилизация slider-----*/

.slider-list {
  list-style: none;
  }

.slider-item {
  display: flex;
  }

.slider-wrapper {
  width: 600px;
  text-align: left;
  padding-top: 67px;
  padding-bottom: 80px;
 }

.slider h3 {
  font-size: 55px;
  text-align: left;
  line-height: 55px;
  margin: 0;
  margin-bottom: 28px;
  }

.slider p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 42px;
  }

.slider-button {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
}

.map {
width:100%;
}