body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.main-navigation {
  height: 132px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/*
.site-navigation li:last-child {
  margin: auto;
} */

.main-navigation a {
  margin:20px;
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  color:  rgba (0, 0, 0, 0.3);
}

.site-navigation a:focus,
site-navigation-current {
text-decoration: underline;
text-decoration-color: #fb565a;
}

logo-navigation a:hover {
opacity: 0,8;
}

logo-navigation a:active {
opacity: 0,3;
}

.container {
  margin: 0;
  }

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.feature-item {
  width: 300px;
  text-align: left;
}

.feature-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.button-site {
  background-color: #fb565a;
}

.button-site:hover {
  background-color: #e74246;
}

.button-site:active {
  background-color: #d7373b;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-app {
  background-color: #00ca74;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-presentation {
background-color: #efc84a;
}

.button-presentation:hover {
background-color: #eab534;
}

.button-presentation:active {
background-color: #e5a722;
box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.filter-button {
  background-color: #eeeeee;
}

.button-price {
  background-color: #fb565a;
}

.button-price:hover {
  background-color: #e74246;
}

.button-price:hover {
  background-color: #d7373b;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-footer {
font: inherit;
background-color: #ffffff;
color: #000000;
font-size: 36px;
font-weight: bold;
justify-content: space-around;
align-items: center;

display: flex;
}

.discount {
font-size: 16px;
font-weight: 400;
text-align: left;
}

.footer-social {
text-align: center;
}

.footer-social ul {
list-style: none;
}

.social-button {
background-color: #e1e1e1;
}

.social-button:hover {
background-color: #e74246;
}

.social-button:active {
background-color: #d7373b;
box-shadow: rgba (0, 1, 1, 0.1);
}

.page-title {
font: inherit;
font-size: 55px;
line-height: 55px;
text-align: center;
background-color: #eeeeee
}

.filter fieldset {
  border: none;
}

.filter legend,
.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul{
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-align: left;
}

.catalog {
  display: flex;
  flex-direction: column;
  }

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
}

.catalog-category {
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  color: #666666;
}

.catalog-item-title {
  text-align: center;
  }



  
