body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 3px;
  border: none;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/*-----Стили header-----*/

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  transition: 0.3s;
}

.site-navigation a {
  margin-right: 46px;
}

.cart {
  display: flex;
  padding-left: 40px;
  position: relative;
  max-width: 150px;
}

.cart::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  opacity: 0.3;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #fb565a;

  top: 33px;

  width: 74px;
  height: 2px;
}

.logo-navigation:hover {
  opacity: 0.8;
}

.page-title {
  font: inherit;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 110px;
}

/*-----Стили features-----*/

.features {
  margin-top: 70px;
  margin-bottom: 78px;
}

.features-list {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.feature-item {
  position: relative;
  width: 300px;
  padding-top: 150px;
}

.feature-item:not(:last-child) {
  margin-right: 100px;
}

.feature-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 12px;
}

.feature-item p {
  text-align: left;
  line-height: 24px;
  margin-bottom: 33px;
  color:#283136;
}

.feature-item::before {
  content: "";

  position: absolute;

  width: 300px;
  height: 146px;

  top: 10px;
  left: 0;
}

.feature-item-site::before {
  background-image: url("../img/advantage-picture-red.jpg");
  background-color: #666666;
}

.feature-item-app::before {
  background-image: url("../img/advantage-picture-green.jpg");
  background-color: #666666;
}

.feature-item-present::before {
  background-image: url("../img/advantage-picture-yellow.jpg");
  background-color: #666666;
}

.feature-button {
  display: inline-block;
  width: 160px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  transition: 0.3s;
}

.feature-item-site .feature-button {
  background-color: #fb565a;
}

.feature-item-site:hover .feature-button {
  background-color: #e74246;
}

.feature-item-site:active .feature-button {
  background-color: #d7373b;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.feature-item-app .feature-button {
  background-color: #00ca74;
}

.feature-item-app:hover .feature-button {
  background-color: #00bc6c; 
}

.feature-item-app:active .feature-button {
  background-color: #00aa62;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1); 
}

.feature-item-present .feature-button {
  background-color: #efc84a;
}

.feature-item-present:hover .feature-button {
  background-color: #eab534;
}

.feature-item-present:active .feature-button {
  background-color: #e5a722;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*-----Стили services-----*/

.services-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
}

.services-columns h2 {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
}

.services-list {
  width: 650px;
}

.services-list p,
.order-list li {
  text-align: left;
  color: #283136;
  text-transform: none;
  line-height: 24px;
}

.services-list h4 {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 12px;
}

.order-list li {
  padding: 12px 36px;
  position: relative;
}

.order-list li::before {
  position: absolute;
  content: "";

  width: 25px;
  height: 2px;
  background-color: #fb565a;

  left: 2px;
  top: 22px;
}

.services-facts {
  width: 360px;
}

.services-facts h4 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 58px;
}

.services-facts b {
  font-size: 45px;
  line-height: 10px;
  text-align: left;
  color: #000000;
}

.services-facts ul {
  display: flex;
  justify-content: flex-start;
}

.services-facts li {
  margin-right: 23px;
}

.services-facts sup {
  font-size: 25px;
  top: -0.5em;
}

.services-facts p {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
  color: #283136;
}

/*-----Стили partners-----*/

.partners ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 82px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-top: 45px;
  padding-bottom: 35px;
}

.partners a {
  opacity: 0.2;
  transition: 0.3s;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.partners li {
  padding-right: 55px; 
}

.partners li:nth-child(4n) {
  padding-right: 15px;
  padding-left: 20px;
}

.partners li:first-child {
  padding-top: 12px;
  padding-right: 52px;
  padding-left: 4px;
}

.partners li:not(:nth-child(4n+4))  {
  position: relative;
}

.partners li:not(:nth-child(4n+4))::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 52px;

  right: 0;
  bottom: 25%;
  background-color: #eeeeee;
}

.partners li:nth-child(3n)::after {
  bottom: 15%;
}

.partners li:nth-child(2n)::after {
  right: 9px;
}

/*-----Стили footer-----*/

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 67px;
  padding-bottom: 67px;
}

.footer-discount {
  font: inherit;
  background-color: #ffffff;
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  width: 545px;
  margin-left: 140px;
  padding-top: 8px;
}

.footer-discount > p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
}

.footer-social {
  display: flex;
  width: 260px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social-button {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: rgba(0, 1, 1, 0.1);
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:active path {
  opacity: 0.3;
}

.map-contacts {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1160px;
  height: 100%;
  padding: 0 20px;
  pointer-events: none;
}
  
.map {
  position: relative;
  height: 416px;
}
  
.map iframe {
  border: 0;
  width: 100%;
}
  
.contact-item {
  position: absolute;
  left: 20px;
  top: 50%;
  padding: 50px;
  box-sizing: border-box;
  width: 319px;
  background: #fff;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: all;
}

.contact-item p,
.tel {
  line-height: 18px;
  color: #666666;
}

.contact-item h3 {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.write-button {
  width: 219px;
  background-color: #fb565a;
  padding: 10px 0;
  margin-top: 20px;
}

/*----filters----*/

.filters-container {
  width: 260px;
  padding-top: 15px;
  margin-right: 140px;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  border: none;
}

.filter-option {
  margin-top: 10px;
}

.filter-option label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #283136;
  text-align: left;
}

.filter-option .filter-input-checkbox + label::before,
.filter-option .filter-input-checkbox:checked + label::before,
.filter-option .filter-input-radio + label::before,
.filter-option .filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option .filter-input-checkbox + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-option .filter-input-checkbox:checked + label::before {
  height: 23px;
  background: url("../img/checkbox-on.svg");
}

.filter-option .filter-input-radio + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-option .filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-option .filter-input-checkbox:hover + label::before,
.filter-option .filter-input-checkbox:checked:hover + label::before,
.filter-option .filter-input-checkbox:focus + label::before,
.filter-option .filter-input-radio:hover + label::before,
.filter-option .filter-input-radio:checked:hover + label::before,
.filter-option .filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-option .filter-input-checkbox:disabled + label::before,
.filter-option .filter-input-checkbox:checked:disabled + label::before,
.filter-option .filter-input-radio:disabled + label::before,
.filter-option .filter-input-radio:checked:disabled + label::before  {
  opacity: 0.3;
}

.range-filter {
  width: 261px;
  margin-top: 48px;
  margin-bottom: 11px;
}

.filter-item legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.price-filter-item legend {
  letter-spacing: 0.18px;
}

.filter-option label:disabled {
  opacity: 0.3;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 5px;
  height: 5px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color:#ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 67px;
  padding: 8px;
  margin-left: 7px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  margin-top: 4px;
}

.filter-button:hover {
  background-color: #dfdfdf;
  transition: 0.3s;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*----catalog----*/

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
  padding-top: 13px;
}

.sorter-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 360px;
}

.sorter-item { 
  margin-right: 25px;
}

.sorter-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  transition: 0.3s;
  opacity: 0.3;
}

.catalog span {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.sorter-icon-up,
.sorter-icon-down {
  position: relative;
  margin: 0;
  padding-right: 32px;
}

.sorter-icon-up::after,
.sorter-icon-down::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 3px;
  right: 0;
  opacity: 0.2;
  transition: 0.3s;
  cursor: pointer;
}

.sorter-icon-down::after {
  background-image: url("../img/icon-down-dir.svg");
}

.sorter-icon-up::after {
  background-image: url("../img/icon-up-dir.svg");
}

.sorter-icon-down:hover::after,
.sorter-icon-up:hover::after,
.hover-sorter-item::after {
  opacity: 0.3;
}

.sorter-item:hover {
  opacity: 0.6;
}

.sorter-item:active,
.sorter-icon-down:active::after,
.sorter-icon-up:active::after,
.active-sorter-item,
.active-sorter-item::after {
  opacity: 1;
}

.catalog-columns {
  display: flex;
  justify-content: flex-start;
}

.catalog {
  width: 1000px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 360px;
  margin-bottom: 23px;
  margin-right: 35px;
  position: relative;
  padding-top: 40px;
  transition: 0.3s;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-description {
  display: none;
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
  width: 360px;
  padding-top: 28px;
  padding-bottom: 43px;
}

.catalog-item:hover .catalog-description {
  display: block;
  position: absolute;

  width: 360px;
  bottom: 10px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  width: 360px;
  height: 40px;
  top: 1px;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-category {
  width: 227px;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.catalog-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  transition: 0.3s;
}

.catalog-item-title:hover {
  color: #fb565a;
}

.catalog-item-title:active {
  color:rgba(0, 0, 0, 0.3);
}

.button-price {
  width: 200px;
  font-size: 16px;
  padding: 10px 0;
  margin-top: 30px;
  background-color: #fb565a;
  transition: 0.3s;
}

.button-price:hover {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
  box-shadow: 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*----pagination---*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 61px;
}

.pagination-item:not(:last-child) {
  margin-right: 11px;
}

.pagination-item:first-child {
  margin-left: 2px;
}

.pagination-item a {
  display: inline-block;
  width: 50px;
  vertical-align: middle;
  padding: 10px 0;
  color: #000000;
  background-color: #eeeeee;
  transition: 0.3s;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  box-sizing: border-box;
  width: 50px;
  padding: 7px 0;
  background-color: #ffffff;
  border: solid 3px #dbdbdb
}

/*----Стилизация slider-----*/

.slider-list {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider-item {
  padding-bottom: 80px;
  background-repeat: no-repeat;
}

.slider-2,
.slider-3 {
  display: none;
}

.slider-1 {
  background-image: url("../img/slide-picture.png");
  background-color: #eeeeee;
  background-position: right 30px bottom 0;
  padding-top: 67px;
}

.slider-2 {
  background-image: url("../img/slide-picture2.png");
  background-color: #eeeeee;
  background-position: right 0 bottom 0;
  padding-top: 145px;
}

.slider-3 {
  background-image: url("../img/slide-picture3.png");
  background-color: #eeeeee;
  background-position: right 0 bottom 0;
  padding-top: 230px;
}

.slider-item h3 {
  max-width: 520px;
  font-size: 55px;
  font-weight: 500;
  text-align: left;
  line-height: 55px;
  margin: 0;
}

.slider-list p {
  max-width: 410px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-top: 25px;
  margin-bottom: 40px;
}

.slider-button {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  line-height: 50px;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.slider {
  position: relative;
}

.slider-controls-list {
  display: flex;
  justify-content: space-between;
  width: 90px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
}

.slide-controls {
  width: 18px;
  height: 18px;
  margin-right: 0;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.active-slide {
  position: relative;
}

.active-slide::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  background-color: #ffffff;
  border-radius: 50%;
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; } 
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.3; }
  100% { opacity: 1.0; } 
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.modal {
  position: fixed;
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 960px;
  margin: 0 auto;
  bottom: 10px;
  
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-sizing: border-box;
  
  margin-top: 20px;
  padding: 40px 100px;
  z-index: 2;
}

.modal-show {
  display: block;
  -webkit-animation: blinker 1s;
          animation: blinker 1s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 92px;
  padding: 0;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 25px;
  height: 4px;

  background-color: #e74246;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #e74246;
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #e74246;
  opacity: 0.1;
  outline: none;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 49px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.write-form label {
  display: block;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 12px;
}

.user-info input,
.write-form textarea {
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.user-info input:hover,
.write-form textarea:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #b4b9bb;
}

.user-info input:focus,
.write-form textarea:focus {
  color: #444444;
  border: 2px solid #000000;
}

.user-info input:invalid,
.write-form textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
} 

.write-form p {
  margin: 0;
}

.user-info input {
  width: 340px;
}

.write-form textarea {
  width: 740px;
}

.modal-button {
  width: 260px;
  background-color: #fb565a;
  padding: 10px 80px;
  margin-top: 37px;
  margin-bottom: 47px;
}